<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  <script defer src="{{ url_for('static', filename='script.js') }}"></script>
  <title>Image Filters Project</title>
</head>

<body>
  <div class="upload-form">
    <h2 class="title">Upload an Image</h2>
    <form>
      <input type="file" name="image-upload" accept="image/*" />
    </form>
    <div class="images">
      <img class="image original-image" alt="Uploaded image" hidden />
      <span class="arrow" hidden>&#8594;</span>
      <img class="image filtered-image" alt="Uploaded image" hidden />
    </div>
    <select class="filter-select">
      <optgroup label="Habiba">
        <option value="MedianFilter">Median Filter</option>
        <option value="AveragingFilter">Averaging Filter</option>
        <option value="MaxFilter">Maximum Filter</option>
        <option value="MinimumFilter">Minimum Filter</option>
          <option value="BicubicInterpolation">Bicubic Interpolation</option>
          <option value="Bilinear">Bilinear Interpolation</option>
          <option value="Nearest_Neighbour">Nearest Neighbour</option>
      </optgroup>
      <optgroup label="Hassan">
        <option value="RobertCrossGradient">Robert Cross Gradient</option>
        <option value="UnsharpAvgFilter">Unsharp Average Filter</option>
        <option value="HighboostFilter">Highboost Filter</option>
        <option value="LaplaceOperator">Laplace operator</option>
        <option value="SobelOperator">Sobel operator</option>
      </optgroup>
      <optgroup label="Ashraf">
        <option value="fourier_transform">Fourier Transform</option>
        <option value="histogram_equalization">Histogram Equalization</option>
      </optgroup>
      <optgroup label="Mustafa">
        <option value="apply_impulse_noise">Impulse Noise (salt and pepper)</option>
        <option value="apply_gaussian_noise">Gaussian Noise</option>
        <option value="apply_uniform_noise">Uniform Noise</option>
      </optgroup>
    </select>


    <div class="kernel_slider_container">
      <div class="extra-parameters">

      </div>
      <label class="kernel_size_label" for="kernel-size">Kernel Size:</label>
      <input type="range" id="kernel-size" min="1" max="50" value="3" step="2" />
      <span id="kernel-size-value">3</span>
      <form>
        <div class="c" style="display: flex;">
          <input type="checkbox" id="reuse-filtered-image" name="reuse-filtered-image" style="margin-right: 10px;">
          <label for="reuse-filtered-image">Reuse Image</label><br>
        </div>
      </form>

      <button class="dropbtn">Apply Filter</button>
    </div>
  </div>
</body>

</html>